<header class="p-3 bg-dark text-white mb-4">
  <div class="container">
    <p id="top"></p>
      <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Weathertune <img src="img/logo.png" alt=""></a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li id="navItem"><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li id="navItem"><a href="/temperature" class="nav-link px-2 text-white">Sense Hat Temperature</a></li>
              <li id="navItem"><a href="/humidity" class="nav-link px-2 text-white">Sense Hat Humidity</a></li>
              <li id="navItem"><a href="/pressure" class="nav-link px-2 text-white">Sense Hat Pressure</a></li>
              <li id="navItem"><a href="/music" class="nav-link px-2 text-white">Music</a></li>
              <li id="navItem"><a href="/about" class="nav-link px-2 text-white">About</a></li>
          </ul>

      </div>
  </div>
</header>