<%- include('../partials/head') %>
  <%- include('../partials/header') %>

    <body>
      <div id="container">
      <main>
        <jumbotron class="text-center">
          <h1 class="display-4">Error</h1>
          <p class="center-text"><img src="/img/error.gif" alt=""></p>
          
          <h1 class="display-6"><%=error%></h1>

        </jumbotron>
      </main>
    </div>
    </body>
    <%- include('../partials/footer') %>